/** file-drops */

.drop-message {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  background-color:  #EFEFEF;
  border-radius: 2px;
  padding: 6px 12px;
  font-size: 16px;
  color: #212121;
  user-select: none;
}

.drop-message.error {
  background: #dd7373;
}

.drop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  padding: 50px;

  background: rgba(255, 255, 255, .9);

  z-index: 1000;
}

.drop-overlay .box {
  text-align: center;
  border: dashed 4px #CCC;
  height: 100%;
  width: 100%;
  display: table;
}

.drop-overlay .label {
  font-size: 26px;
  color: #888;
  margin: auto;

  display: table-cell;
  vertical-align: middle;
}